<H4>INGRESOS</H4>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Tipo Documento</th>
        <th scope="col">N° Documento</th>
        <th scope="col">Neto</th>
        <th scope="col">IVA</th>
        <th scope="col">Total</th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let ingreso of ingresos">
        <th scope="row">{{ingreso.tipo_documento}}</th>
        <td>{{ingreso.numero_documento}}</td>
        <td>{{ingreso.neto}}</td>
        <td>{{ingreso.iva}}</td>
        <td>{{ingreso.total}}</td>
        <td><a [routerLink]="['/caja/ingreso', ingreso.id]" class = "btn btn-warning">Editar</a></td>
        <td><button class ="btn btn-danger" (click)="deleteIngreso(ingreso.id)">Eliminar</button></td>
      </tr>
    </tbody>
   <a routerLink = "/caja/ingreso" class = "btn btn-primary">Nuevo Ingreso</a> 
  </table>
  <h4>EGRESOS</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Tipo Documento</th>
        <th scope="col">N° Documento</th>
        <th scope="col">Neto</th>
        <th scope="col">IVA</th>
        <th scope="col">Total</th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tbody>
        <tr *ngFor = "let egreso of egresos">
          <th scope="row">{{egreso.tipo_documento}}</th>
          <td>{{egreso.numero_documento}}</td>
          <td>{{egreso.neto}}</td>
          <td>{{egreso.iva}}</td>
          <td>{{egreso.total}}</td>
          <td><button class ="btn btn-warning">Editar</button></td>
          <td><button class="btn btn-danger">Eliminar</button></td>
        </tr>
    </tbody>
  </table>
  <a routerLink = "/caja/egreso" class = "btn btn-primary">Nuevo Egreso</a> 
