<div class="col-md-3">
    <div class="card text-center">
        <div class="card-header bg-dark text-white d-flex justify-content-between aling-items-center">
            Mesa 1
        </div>
        <div class="card-body">
            <img src = "https://previews.123rf.com/images/rawpixel/rawpixel1706/rawpixel170601468/79659366-elegante-servicio-de-mesa-de-restaurante-para-la-recepci%C3%B3n-con-tarjeta-reservada.jpg" width ="300" height ="300">
            <a [routerLink]="['/mesas/pedidos']" class = "btn btn-info btn-block" >
                Agregar Pedido
            </a>
        </div>
    </div> 
</div>