<div class="offset-md-2" style="margin-top:50px"> 
<form>
  <div class="form-group col-sm-8">
    <label for="numDoc">Tipo Documento</label>
  </div>
  <select class="form-group col-sm-8" name="miselect" [(ngModel)]="ingreso.tipo_documento" #selector = "ngModel">
    <option [value]="item" *ngFor="let item of listaDoc">{{item}}</option>
  </select>
  <div>
    <small class="bg-warning text-light mt-1 px-1 py-1 rounded" *ngIf="ingreso.tipo_documento == '' && selector.touched"> Debe elegir Una Opcion</small>
  </div>
  <div class="form-group col-sm-8">
    <label for="numDoc">Numero Documento</label>
    <input type="text" class="form-control" name="numDoc" [(ngModel)]="validador.numDoc.val" #doc = "ngModel">
    <small class="bg-warning text-light mt-1 px-1 py-1 rounded" *ngIf="!validador.numDoc.isValid() && doc.touched">{{validador.numDoc.error}}</small>
  </div>
  <div class="form-group col-sm-8">
      <label for="neto">Valor Neto</label>
      <input type="text" class="form-control" name="neto" [(ngModel)]="validador.numNeto.val" #neto ="ngModel">
      <small class="bg-warning text-light mt-1 px-1 py-1 rounded" *ngIf="!validador.numDoc.isValid() && neto.touched">{{validador.numNeto.error}}</small>
    </div>
  <div class="form-group col-sm-8">
    <label for="iva">IVA</label>
    <input type="text" class="form-control" name="iva" value = {{calcularIva}} readonly ="readonly">
  </div>
    <div class="form-group col-sm-8">
      <label for="total">Total</label>
      <input type="text" class="form-control" name="total" value ={{calcularTotal}} readonly = "readonly">
    </div>
    <button class="btn btn-primary" [disabled] = "!isValidForm" (click)="edit ? updateIngreso():saveNewIngreso()">Guardar</button>
  </form>
</div>